# vim stuff
*.swp
*.swo

# object files
source/obj
source/example/obj
source/test/obj
*.o
gtest/obj/gtest-all.o
core/obj
tests/*.o

# documentation
doc/

# executables
source/bin
example/bin/*
multinode_launcher

myrank

# data
Data/*
Result/*
