# vim stuff
*.swp
*.swo

# object files
source/obj
source/example/obj
source/test/obj
*.o
gtest/obj/gtest-all.o
core/obj

# documentation
doc/
core/bin/*
core/obj/*
example/obj/*
example/bin/*
gtest/obj/*
data/example*
